@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.mainLib, .mainInicio, .grupOfer_oferta, .grupLoca_local, footer .foot_cont, footer .foot_mid, footer .icons ul, .main_error {
  display: flex;
  flex-direction: row; }

.mainTod, .libArt, .grupOfer, .grupLoca {
  display: flex;
  flex-direction: column; }

.mainLib, .mainLib img, .libArt, .grupOfer_oferta, .grupOfer_oferta img, .grupLoca_local, .grupLoca_local img {
  border-radius: 5px;
  box-shadow: 7px 7px 4px 0 rgba(0, 0, 0, 0.2); }

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: none; }
  * label {
    display: inline; }

.header_banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 370px; }
  .header_banner h1 {
    text-align: center;
    font-size: 80px;
    color: #9AA27E;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: 700; }

.header_banner_logo {
  height: 120px;
  margin: 10px; }

.header_nave {
  background-color: #9AA27E;
  margin: 0;
  border-radius: 10px;
  text-decoration: none;
  margin: 1%;
  padding: 5px;
  box-shadow: 0 7px 4px 0 rgba(0, 0, 0, 0.2); }
  .header_nave ul {
    padding: 0;
    margin: 0; }
    .header_nave ul li {
      list-style: none;
      font-size: 25px;
      padding: 0; }
    .header_nave ul .active {
      font-style: italic;
      font-weight: 600; }
  .header_nave a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    color: black; }
  .header_nave a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1); }
  .header_nave a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; }
  .header_nave_list {
    display: flex;
    justify-content: space-around; }

.mainLib {
  background-color: #DFDFDF;
  border-radius: 10px;
  margin: 1% 20%;
  padding: 1%; }
  .mainLib img {
    height: 350px;
    width: auto;
    margin: 20px; }
  .mainLib_div2_div {
    margin-top: 20px; }
  .mainLib_div2_div2 {
    margin-top: 50px; }

.star-wrapper {
  position: relative;
  direction: ltr; }
  .star-wrapper a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px; }
    .star-wrapper a:hover {
      color: #9AA27E;
      transform: scale(1.3); }

.s1:hover ~ a {
  color: #9AA27E; }

.s2:hover ~ a {
  color: #9AA27E; }

.s3:hover ~ a {
  color: #9AA27E; }

.s4:hover ~ a {
  color: #9AA27E; }

.s5:hover ~ a {
  color: #9AA27E; }

.mainTod {
  justify-content: center;
  align-items: center; }
  .mainTod_grupo {
    background-color: #DFDFDF;
    border-radius: 10px;
    display: flex;
    padding: 1%;
    margin: 1%;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between; }

.mainInicio {
  flex-wrap: wrap;
  justify-content: space-around; }
  .mainInicio_grupo {
    background-color: #DFDFDF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 1%;
    width: 40%;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 7px 7px 4px 0 rgba(0, 0, 0, 0.2); }
    .mainInicio_grupo h2 {
      font-size: 85%;
      display: block; }
    .mainInicio_grupo .grupo_libs {
      display: flex;
      flex-direction: row; }

.libArt {
  border: 1px solid black;
  width: 100px;
  height: 210px;
  padding: 1%;
  margin: 1%;
  background-color: white;
  color: black;
  border-radius: 7px;
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1); }
  .libArt a {
    text-decoration: none;
    color: black; }
  .libArt h4 {
    font-weight: bold;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0; }
  .libArt img {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    margin: 1%; }
  .libArt:hover {
    transform: scale(1.1); }
  .libArt:active {
    transform: scale(0.9); }
  .libArt_lib {
    text-decoration: none; }
  .libArt_ico {
    position: absolute;
    margin-left: 85px; }

.titu {
  text-align: center; }

.grupOfer {
  align-items: flex-start;
  flex-wrap: wrap; }
  .grupOfer_oferta {
    background-color: #DFDFDF;
    width: 90%;
    margin: 2%;
    padding: 10px; }
    .grupOfer_oferta img {
      height: 180px;
      width: 325px; }

.oferImg {
  width: 325px;
  height: 190px; }

.ofer_cont {
  margin: 5px; }

.oferTit {
  margin-bottom: 100px; }

.oferText {
  margin: 1%; }

.grupLoca {
  align-items: flex-start;
  flex-wrap: wrap; }
  .grupLoca_local {
    background-color: #DFDFDF;
    width: 90%;
    margin: 2%;
    padding: 10px; }
    .grupLoca_local img {
      height: 95%;
      width: auto; }

.locImg {
  margin: 1%;
  width: 325px; }

.local_cont {
  margin: 2%; }

.locTit {
  margin-bottom: 120px; }

.locText {
  margin: 1%; }

.mainCon {
  margin: 5%; }

.btncon {
  background-color: #9AA27E;
  border-color: #9AA27E; }

.btncon:hover {
  background-color: #464D30;
  border-color: #464D30; }

.formFondo {
  background-color: #DFDFDF; }

.formSomb {
  box-shadow: 7px 7px 4px 0 rgba(0, 0, 0, 0.2); }

footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 70px; }
  footer .foot_cont {
    justify-content: center;
    align-items: center; }
  footer .foot_mid {
    justify-content: center;
    align-items: center;
    margin-left: 7%; }
    footer .foot_mid a {
      text-decoration: underline;
      color: white; }
  footer .icons ul {
    list-style: none; }
    footer .icons ul li {
      width: 50px;
      height: 50px;
      line-height: 75px;
      margin: 0 10px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease; }
      footer .icons ul li .fa {
        color: #D8E2DC;
        margin-top: 20px;
        transition: all 0.5s ease; }
      footer .icons ul li:hover .twitter {
        border: 5px solid #00aced;
        box-shadow: 0 0 15px #00aced;
        transition: all 0.5s ease; }
      footer .icons ul li:hover .fa-twitter {
        color: #00aced;
        text-shadow: 0 0 15px #00aced;
        transition: all 0.5s ease; }
      footer .icons ul li:hover .instagram {
        border: 5px solid #bc2a8d;
        box-shadow: 0 0 15px #bc2a8d;
        transition: all 0.5s ease; }
      footer .icons ul li:hover .fa-instagram {
        color: #bc2a8d;
        text-shadow: 0 0 15px #bc2a8d;
        transition: all 0.5s ease; }
      footer .icons ul li:hover .whatsapp {
        border: 5px solid #4dc247;
        box-shadow: 0 0 15px #4dc247;
        transition: all 0.5s ease; }
      footer .icons ul li:hover .fa-whatsapp {
        color: #4dc247;
        text-shadow: 0 0 15px #4dc247;
        transition: all 0.5s ease; }

.main_error {
  justify-content: center;
  align-items: center;
  align-content: center; }

.error h1 {
  color: #9AA27E;
  text-align: center; }

@media only screen and (max-width: 768px) {
  .mainInicio {
    flex-flow: column; }
    .mainInicio_grupo .grupo_titu {
      text-align: center; }
    .mainInicio_grupo .grupo_libs {
      display: flex;
      justify-content: space-around; }
  .header_nave {
    text-align: start;
    width: 96%;
    margin: 5px; }
    .header_nave label {
      display: flex;
      flex-direction: column;
      width: 70px;
      cursor: pointer; }
      .header_nave label span {
        background: #fff;
        border-radius: 10px;
        height: 7px;
        margin: 7px 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
        .header_nave label span:nth-of-type(1) {
          width: 50%; }
        .header_nave label span:nth-of-type(2) {
          width: 100%; }
        .header_nave label span:nth-of-type(3) {
          width: 75%; }
      .header_nave label ul {
        display: none; }
      .header_nave label input {
        display: none; }
        .header_nave label input:checked ~ span:nth-of-type(1) {
          transform-origin: bottom;
          transform: rotatez(45deg) translate(8px, 0px); }
        .header_nave label input:checked ~ span:nth-of-type(2) {
          transform-origin: top;
          transform: rotatez(-45deg); }
        .header_nave label input:checked ~ span:nth-of-type(3) {
          transform-origin: bottom;
          width: 50%;
          transform: translate(30px, -11px) rotatez(45deg); }
        .header_nave label input:checked ~ ul {
          display: block;
          text-align: center; }
  .nav_list {
    flex-direction: column; }
  nav ul {
    flex-direction: column; }
  nav li {
    margin: 0.8em; }
  .mainInicio_grupo {
    width: 96%;
    margin: 5px; }
  .mainLoca {
    flex-flow: column; }
  .mainOfer {
    flex-flow: column; }
  .grupOfer_oferta {
    flex-flow: column; }
  .grupLoca_local {
    flex-flow: column; }
  .oferTit {
    margin-bottom: 30px; }
  .locTit {
    margin-bottom: 30px; }
  .menu {
    display: flex; }
  .mainLib {
    flex-flow: column;
    margin: 1% 15%; }
    .mainLib_div1 {
      align-content: center;
      justify-items: center; }
    .mainLib img {
      height: 200px;
      text-align: center; }
    .mainLib .punt {
      display: none; } }

@media only screen and (max-width: 425px) {
  .mainInicio {
    flex-flow: column; }
  .mainInicio_grupo {
    flex-flow: column;
    align-items: center;
    margin: 10px 0;
    padding: 1%; }
  .header_banner {
    height: 100px; }
    .header_banner .header_banner_logo {
      display: none; }
    .header_banner h1 {
      font-size: 50px;
      text-align: center; }
  .mainTod_grupo {
    width: 100%;
    margin: 15px 0; } }

@media only screen and (max-width: 375px) {
  footer .icons ul li {
    width: 30px; } }

@media only screen and (max-width: 320px) {
  .grupOfer_oferta {
    zoom: 0.8; }
  footer {
    width: 100%; }
    footer .icons ul li {
      width: 15px;
      height: 15px; }
  .mainInicio_grupo {
    margin: 20px 0; }
    .mainInicio_grupo .libArt {
      zoom: 0.8; }
  .header_nave {
    width: auto; }
  .mainTod_grupo {
    justify-content: space-around; } }

@media only screen and (max-width: 2560px) {
  .header_nave input {
    display: none; } }
