@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "base/variables";
@import "base/extends";

@import "components/header";
@import "components/todos";
@import "components/ofertas";
@import "components/locales";
@import "components/contacto";
@import "components/footer";
@import "components/error";
@import "components/media";

*{
    font-family: Roboto;
    margin: 0;
    padding: 0;

}
