footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 70px;

    .foot_cont{
        @extend %flexRow;
        justify-content: center;
        align-items: center;
    }
    .foot_mid{
        @extend %flexRow;
        justify-content: center;
        align-items: center;
        margin-left: 7%;
        a{
            text-decoration: underline;
            color: white;
        }

    }

    .icons{

        ul{
            list-style: none;
            @extend %flexRow;
            li{
                width: 50px;
                height: 50px;
                line-height: 75px;
                margin: 0 10px;
                text-align: center;
                cursor: pointer;
                transition: all 0.5s ease;
                .fa{
                    color: #D8E2DC;
                    margin-top: 20px;
                    transition: all 0.5s ease;
                    
                }

                &:hover .twitter{
                    @include footerCol (5px solid map-get($colores , azul), 0 0 15px map-get($colores , azul), all 0.5s ease);
                    // border: 5px solid map-get($colores , azul);
                    // box-shadow: 0 0 15px map-get($colores , azul);
                    // transition: all 0.5s ease;
                }

                &:hover .fa-twitter{
                    @include footerSom (map-get($colores , azul), 0 0 15px map-get($colores , azul), all 0.5s ease);
                    // color: map-get($colores , azul);
                    // text-shadow: 0 0 15px map-get($colores , azul);
                    // transition: all 0.5s ease;
                }

                &:hover .instagram{
                    @include footerCol(5px solid map-get($colores , violeta), 0 0 15px map-get($colores , violeta), all 0.5s ease);
                    // border: 5px solid map-get($colores , violeta);
                    // box-shadow: 0 0 15px map-get($colores , violeta);
                    // transition: all 0.5s ease;
                }

                &:hover .fa-instagram{
                    @include footerSom(map-get($colores , violeta), 0 0 15px map-get($colores , violeta), all 0.5s ease);
                    // color: map-get($colores , violeta);
                    // text-shadow: 0 0 15px map-get($colores , violeta);
                    // transition: all 0.5s ease;
                }
                &:hover .whatsapp{
                    @include footerCol(5px solid map-get($colores , verde), 0 0 15px map-get($colores , verde), all 0.5s ease);
                    // border: 5px solid map-get($colores , verde);
                    // box-shadow: 0 0 15px map-get($colores , verde);
                    // transition: all 0.5s ease;
                }
                &:hover .fa-whatsapp{
                    @include footerSom(map-get($colores, verde), 0 0 15px map-get($colores , verde), all 0.5s ease);
                    // color: map-get($colores, verde);
                    // text-shadow: 0 0 15px map-get($colores , verde);
                    // transition: all 0.5s ease;
                }
            }
        }


          
    }

}