.grupLoca{
    @extend %flexColumn;
    align-items: flex-start;
    flex-wrap: wrap;

    &_local{
    @extend %flexRow;
    background-color: #DFDFDF;
    border-radius: 5px;
    box-shadow: 7px 7px 4px 0 rgba(0,0,0,.2);
    width: 90%;
    margin: 2%;
    padding: 10px;

    img{
    border-radius: 5px;
    box-shadow: 7px 7px 4px 0 rgba(0,0,0,.2);
    height: 95%;
    width: auto;
    }

    }  
}

.locImg{
   margin: 1%;
   width: 325px;
}

.local_cont{
    margin: 2%;
}

.locTit{
    margin-bottom: 120px
}

.locText{
    margin: 1%;
}