@media only screen and  (max-width: 768px) {
    .mainInicio{
        flex-flow: column; 
    }

    .header_nave{
        text-align:start;
        width: 96%;
        margin: 9px;
        label{
            display:flex;
             flex-direction:column;
             width:70px;
             cursor:pointer;
             span{
                 background: #fff;
                 border-radius:10px;
                 height:7px;
                 margin: 7px 0;
                 transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
                 &:nth-of-type(1){
                     width:50%;
                 }
                 &:nth-of-type(2){
                     width:100%;
                 }
                 &:nth-of-type(3){
                    width:75%;
                 }
                 
                }

                ul{
                 display: none;
                }
                
                input{
                  display:none;
                  &:checked ~ span:nth-of-type(1){
                    transform-origin:bottom;
                    transform:rotatez(45deg) translate(8px,0px)
                  }

                  &:checked ~ span:nth-of-type(2){
                    transform-origin:top;
                    transform:rotatez(-45deg)
                  }

                  &:checked ~ span:nth-of-type(3){ 
                    transform-origin:bottom;
                    width:50%;
                    transform: translate(30px,-11px) rotatez(45deg);
                  }

                  &:checked ~ ul{
                    display: block;
                }

                }

            }

            

    }
    
    .nav_list{
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
    }

    nav li{
        margin: 0.8em   ;
    }
    .mainInicio_grupo{
        width: 96%;
        margin: 9px;
    }
    .mainLoca{
        flex-flow: column;
    }

    .mainOfer{
        flex-flow: column;
    }

    .grupOfer_oferta{
        flex-flow: column;

    }

    .grupLoca_local{
        flex-flow: column;
    }

    .oferTit{
        margin-bottom: 30px ;
    }

    .locTit{
        margin-bottom: 30px;
    }

    .menu{
        display: flex;
    }

    .mainLib{
        flex-flow: column;
        margin: 1% 15%;

        &_div1{
            align-content: center;
            justify-items: center;
        }
        
        
        img{
            height: 200px;
            text-align: center;
        }

        .punt{
            display: none;
        }
    }

    
}
@media only screen and  (max-width: 425px) {
    .mainInicio{
        flex-flow: column; 
    }
    .mainInicio_grupo{
        flex-flow: column;
        align-items: center;
        
    }
    .header_banner{
        height: 100px;
        .header_banner_logo{
            display: none;
        }
        h1{
            font-size: 50px;
            text-align: start;
        }
    }

    
    

    
    
}

@media only screen and (max-width: 320px) {
    .grupOfer_oferta{
        width: 100%;
    }

    footer{
        width: 100%;

        .icons ul li{
            width: 20px;
            height: 20px;
        }

    }

    .mainInicio_grupo{
        margin: 0;
    }



}

@media only screen and (max-width: 2560px){
    .header_nave{
        input{
            display: none;
        }
    }
}