.mainTod{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    &_grupo{
    background-color: $color-secund;
    border-radius: 10px;
    display: flex;
    padding: 1%;
    margin: 1%;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;

    }


}